* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #F4D04E;
    --background-color: #FFFFFF;
    --text-color: #111111;
    --subtext-color: #6B6B6B;
    --font-family: 'Figtree', sans-serif;
    --spacing-300: 1.5rem;
    --spacing-150: 0.75rem;
    --spacing-100: 0.5rem;
    --spacing-50: 0.25rem;
}


body {
    background-color: var(--primary-color);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*max-width: 90rem; No need to center it perfectly on the screen*/
}

h1 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

a:hover h1, a:focus h1 {
    color: var(--primary-color);
}

p {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 150%;
    letter-spacing: 0;
    color: var(--subtext-color);
}

.sub-heading {
    font-size: clamp(0.75rem, 1.25vw, 0.875rem);
    line-height: 150%;
    letter-spacing: 0;
    color: var(--text-color);
}

.avatar-name {
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0;
    color: var(--text-color);
    font-weight: 700;
}

.tag {
    font-weight: 700;
    background-color: var(--primary-color);
    width: fit-content;
    padding: var(--spacing-50) var(--spacing-150);
    border-radius: 0.25rem;
}

.blog-card {
    height: 100%;
    max-width: clamp(20.4375rem, calc(100vw - 3rem), 24rem);
    padding: var(--spacing-300);
    border-radius: 1.25rem;
    background-color: var(--background-color);
    margin: var(--spacing-300);
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 1);
}

.blog-image {
    border-radius: 1.25rem;
    max-height: 12.5rem;
    width: 100%;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
    margin: var(--spacing-300) 0;
}

.avatar {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
}

.avatar-image {
    max-width: 2rem;
}


/*Attribution styles*/
.attribution { font-size: 11px; text-align: center; margin-top: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }
